                  /* CSS commun aux deux footer */
/* Mise en forme générale */
#one {
  text-align: center;
  background-color: #000;

  color: #fff;
  font-family: Arial;
}
/* classe à appliquer pour les titres lumineux */
#shadow{
  text-shadow: 0px 0px 2px #000, 0px 0px 5px #fff;
}
/* séparation du footer en deux colonnes */
.grille {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* css du titre de la partie de gauche + logo */
.titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}
/* css du texte de gauche */
.présentation {
  text-align: center;
  padding: 1em 1em;
}
/*css de la partie formulaire de contact */
.contact {
  margin-top: 1em;
  margin-bottom: 1em;
}
#input{
  color: white;
  width: 20em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 2px #000, 0px 0px 5px #fff;
}
textarea {
  color: white;
  box-shadow: 0px 0px 2px #000, 0px 0px 5px #fff;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* css du deuxième footer */
#two {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 5em;
  font-family: Arial;
}

@media (max-width:767px) {
  .titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    margin-left: 10%;
    padding-left: 10%;
  }

  .titre h1 {
    font-size: 20px;
  }

  .contact h1 {
    font-size: 40px;
  }

  .présentation img {
    width: 100%;
    height: 100%;
  }

  #input{
    color: white;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 2px #000, 0px 0px 5px #fff;
  }
  textarea {
    color: white;
    width: 90%;
    box-shadow: 0px 0px 2px #000, 0px 0px 5px #fff;
    margin-top: 1em;
    margin-bottom: 1em;
}
