ul{
  background-color: #f74c3c;
  width: 100%;
  border: none;
  position:fixed;
  z-index: 10;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0;
}


.img{
  margin: 0em 5em ;
}
/*bouton de la barre nav avec un hover */
.nav{
  display:flex;
  justify-content: right;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1em;
  width: 20em;
  height: 3em;
}
.btn1{
  border: none;
  background-color: #f74c3c;
  cursor: pointer;
  margin-right: 6em;
}
.btn1:hover{
  color: white;
}


.btn2{
  border: none;
  background-color: #f74c3c;
  cursor: pointer;
  margin: 0em 7em 0em 1em;
  padding: 0;
}
.btn2:hover{
  color: white;
}


.btn3{
  border: none;
  background-color: #f74c3c;
  cursor: pointer;
  margin-right: 6em;
}
.btn3:hover{
  color: white;
}


.btn4{
  border: none;
  background-color: #f74c3c;
  cursor: pointer;
  margin-right: 5em;

}
.btn4:hover{
  color: white;
}


.btn5{
  border: none;
  background-color: #f74c3c;
  cursor: pointer;
  margin-right: 5em;

}
.btn5:hover{
  color: white;
}
