* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.bouton a {
display:block;
width:200px;
line-height:50px;
text-align:center;
vertical-align:middle;
background-color: #f74c3c;
color:white;
text-decoration:none;
font-size: 30px;
}

.bouton a:hover {
background-color: #d17261;
}

.parallax-window {
   min-height: 30vh;
   background: transparent;
 }
