* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.bouton a {
display:block;
width:200px;
line-height:50px;
text-align:center;
vertical-align:middle;
background-color: black;
color:white;
text-decoration:none;
font-size: 30px;
border-radius: 100px;
}

.bouton a:hover {
background-color: #f74c3c;
}

.parallax-projet {
  min-height: 30vh;
  background: transparent;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
 }

 .parallax-tip {
   min-height: 30vh;
   background: transparent;
   text-align: center;
   padding: 100px;
   font-size: 50px;
  }

#proj img {
  margin: 10px;
  margin-top: 30px;
}

#proj {
  margin-bottom: 10px;
}

/* CSS DE JEREM */

.mySlides
  {
    display: none;
  }

img
{
  vertical-align: middle;
}

/* css du slide*/

.container
 {


    position: relative;

  }

.mySlides
  {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next
  {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover
  {
    background-color: rgba(0,0,0,0.8);
  }

  /* animation du slide*/

  .fade
  {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade
  {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade
  {
    from {opacity: .4}
    to {opacity: 1}
  }

/* FIN DU CSS DE JEREM */

@media (max-width:767px) {
  #proj img {
    margin-top: 20px;
    width: 300px;
  }

  .parallax-projet {
    min-height: 30px;
    background: transparent;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 30px;
   }

   .parallax-tip {
     min-height: 30px;
     background: transparent;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 30px;
    }
 }
