* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: arial;
  font-size: 16px;
}

#main{
      width: 100%;
      background-size: cover;
      position:fixed;
      top: 0px;
      z-index: 10;
      transition: .5s;
}
/*logo*/
.img{
  margin-left: 6em;
  float: left;
}

nav{
    width: 100%;
    height: 5em !important;
    border: none;
    background-color: #000 !important;
}
/*positionnement des liens ainsi que la transition lorsque la souris passe dessus*/
nav ul{
       float:right;
       margin-right: 8em !important;
}

nav ul li{
          list-style-type: none;
          display: inline-block;
          line-height: 5em;
          transition: 0.8s all;
          padding: 0 25px;
}

/*changement de couleur de fond au passage de la souris sur les liens*/
nav ul li:hover{
          background-color: #FF0000;
}

nav ul li a{
           text-decoration: none;
           color: #ffffff;
           opacity: 1;
           text-align: center;
}

/*Responsivité bar nav*/
.icon{
  width: 100%;
  padding: 20px 20px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 2em;
  display: none;
}
@media (max-width: 1150px){
     .icon{
     display: block;
    }

      ul{
      width: 80%;
      display:none;
     }
      ul li{
      display: block;
      text-align:center;
     }
}
.active{
  display: block;
}
@media (max-width: 850px){
     .icon{
     display: block;
    }

      ul{
      width: 75%;
      display:none;
     }
      ul li{
      display: block;
      text-align:center;
     }
}
.active{
  display: block;
}
@media (max-width: 450px){
     .icon{
     display: block;
    }

      ul{
      width: 75%;
      display:none;
     }
      ul li{
      display: inline-block;
      text-align:center;
     }
}
ul .active{
  display: block;
}

.block{
  height: 80px;
  width: 100%;
  background-color: white;
  opacity: 0;
}
.gallerie {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}
#item, #item1, #item2, #item3, #item4, #item5, #item6, #item7 {
  border: 0.5em solid #000;
  margin: 1em 1em;
  width: 20em;
  height: 20em;
  overflow: scroll;
}
#affiche {
  margin-bottom: 3em;
}
/* Css de la pop up des projets */
.pop-tips {
  position: absolute;
  width: 100%;
  height: 250%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 50;
}
.frame {
  position: absolute;
  width: 85%;
  height: 50%;
  top: 10em;
  left: 6.2em;
  background-color: #fff;
  border-radius: 5%;
  display: none;
  z-index: 51;
}
#pop-projet /*image*/{
  position: absolute;
  top: 8em;
  right: 3em;
  width: 20em;
  height: 35em;
  z-index: 52;
}
#texte-projet /*paragraphe texte*/{
  text-align: center;
  margin-top: 8em;
  margin-left: 4em;
  z-index: 52;
}
.links /*div contenant liens*/{
  position: absolute;
  text-align: center;
  margin-top: 40em;
  margin-left: 18em;
  z-index: 52;
}
.button-projet /*boutons des liens*/{
  background-color: #000;
  color: #fff;
  margin: 1em;
  padding: 0.5em;
  border-radius: 15%;
}
.button-projet:hover /*au survol*/{
  text-shadow: 0px 0px 5px #FF0000, 0px 0px 5px #FF0000, 0px 0px 5px #FF0000;
}
.fa-window-close
{
  position: absolute;
  top: 2em;
  right: 3em;
}
.fa-window-close:hover {
  background-color: #FF0000;
}
.fa-window-close:active {
  background-color: #fff;
}
/*Média queries */
@media (max-width: 767px) {
  /* Css de la pop up des projets */
  .pop-tips {
    height: 755%;
  }
  .frame {
    width: 85%;
    height: 35%;
    top: 10em;
    left: 3.3emem;
  }
  #pop-projet /*image*/{
    top: 6em;
    right: 8em;
    width: 20em;
    height: 35em;
    z-index: 52;
  }
  #texte-projet /*paragraphe texte*/{
    margin-top: 45em;
    margin-left: 2em;
    font-size: 95%;
  }
  .links /*div contenant liens*/{
    margin-top: 68em;
    margin-left: 13em;
  }
}
@media (max-width: 400px) {
  /* Css de la pop up des projets */
  .pop-tips {
    height: 755%;
  }
  .frame {
    width: 85%;
    height: 29%;
    top: 5em;
    left: 1.9em;
  }
  #pop-projet /*image*/{
    top: 6em;
    left: 3.3em;
    width: 15em;
    height: 35em;
    z-index: 52;
  }
  #texte-projet /*paragraphe texte*/{
    margin-top: 75.7em;
    margin-left: 0.2em;
    font-size: 55%;
  }
  .links /*div contenant liens*/{
    margin-top: 55em;
    margin-left: 6em;
  }
  .fa-window-close
  {
    top: 1em;
    right: 1em;
  }
}
