* {
    box-sizing: border-box;
  }

body
{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.mySlides
  {
    display: none;
  }

img
{
  vertical-align: middle;
}

html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}

/* css de la navbarre*/

.navbarre ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navbarre ul li
{
    float: left;
}

.navbarre ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* css du slide*/

.container
 {
    position: relative;
 }

.mySlides
  {
    display: none;
  }

  /* animation du slide*/

  .fade
  {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade
  {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade
  {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* css de la partie qui suis je*/

#qui-suis-je
{
  position: relative;
  margin: 10px;
  padding: 30px;

}

h3
{
  text-align: center;
  font-size: 30px;
  text-decoration: underline red;

}

.flex-container
{
    display: flex;
    align-items: center;
}

 .qui
{

  position: relative;
  float: left;
  margin: auto;
  padding: 5px;
  border: 1px solid white;
  width: 49%;
  height: 49%;
  display: block;
  background-size: 100% auto;
  text-align: center;
}

.qui img
{
  width: 100%; /* permet à l'image d'être dans le bloc */
  height: auto;
}

/* css de la partie parcours */

#parcours
{
  position: relative;
  margin: 10px;
  padding: 30px;
  border: 2px solid red;
}

h4
{
  text-align: center;
  font-size: 40px;
  text-decoration: underline red;

}

h5
{
  text-align: center;
  font-size: 30px;
  text-decoration: underline red;
}

hr
{
  height: 3px;
  border-color: red;
  background-color: red;
}

#parcours ul
{
  list-style-type: none; /* retiré les points de la listes */
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left; /* pour que les listes se place les une à côté des autres */
  padding-left: 20px; /* pour espacer les listes les unes des autres */
  padding-right: 100px; /* pour espacer les listes les unes des autres */
  font-size: 20px;
  font-weight: bold;
}
