* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.header {
  width: 100%;
  height: 10em;
}
.gallerie {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}
#item, #item1, #item2, #item3, #item4, #item5, #item6, #item7 {
  border: 0.5em solid #000;
  margin: 1em 1em;
  width: 20em;
  height: 12em;
  overflow: scroll;
}
#affiche {
  margin-bottom: 3em;
}
/* Css de la pop up des tips */
.pop-tips {
  position: absolute;
  width: 100%;
  height: 250%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 50;
}
.frame {
  position: absolute;
  width: 85%;
  height: 50%;
  top: 10em;
  left: 6.2em;
  background-color: #fff;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 51;
}
