* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}

#main{
      width: 100%;
      background-size: cover;
      position:fixed;
      top: 0px;
      z-index: 10;
      transition: .5s;
}

.img{
  margin-left: 6em;
  float: left;
}

nav{
    width: 100%;
    height: 5em;
    border: none;
    background-color: #000;
}
/*positionnement des liens ainsi que la transition lorsque la souris passe dessus*/
nav ul{
       float:right;
       margin-right: 8em;
}

nav ul li{
          list-style-type: none;
          display: inline-block;
          line-height: 5em;
          transition: 0.8s all;
}

/*changement de couleur de fond au passage de la souris sur les liens*/
nav ul li:hover{
          background-color: #FF0000;
}

nav ul li a{
           text-decoration: none;
           color: #ffffff;
           opacity: 1;
           padding:0 25px;
}

.block{
  height: 80px;
  width: 100%;
  background-color: white;
  opacity: 0;
}
.gallerie {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}
#item, #item1, #item2, #item3, #item4, #item5, #item6, #item7 {
  border: 0.5em solid #000;
  margin: 1em 1em;
  width: 20em;
  height: 12em;
  overflow: scroll;
}
#affiche {
  margin-bottom: 3em;
}
/* Css de la pop up des tips */
.pop-tips {
  position: absolute;
  width: 100%;
  height: 250%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 50;
}
#pop-tips /*image*/{
  display: none;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 52;
}
.frame {
  position: absolute;
  width: 85%;
  height: 50%;
  top: 10em;
  left: 6.2em;
  background-color: #fff;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 51;
}
.fa-window-close
{
  position: absolute;
  top: 2em;
  right: 3em;
}
.fa-window-close:hover {
  background-color: #FF0000;
}
.fa-window-close:active {
  background-color: #fff;
}
